.jumbotron {
	padding-top: 3rem;
	padding-bottom: 2rem;
	background-color: #e2edff;
}

#maps {
	background-color: #e2edff;
	padding-top: 5rem;
	padding-bottom: 0.5rem;	
}

section {
	padding-top: 5rem;
}

footer {
	background-color: #e2edff;
}